$max-width: 76.5rem;
$color-black: #212121;
$color-dGrey: #4d4d4d;
$color-Ngrey: #8f8f8f;
$color-grey: #a1a1a1;
$color-lGrey: #abadb0;
$color-greyBlue: #eaeaea;
$color-silver: #f5f7fa;
$color-white: #fff;
$color-dBlue: #042539;
$color-navy: #143c52;
$color-mBlue: #236083;
$color-azure: #6cb2da;
$color-sky: #d0eeff;
$color-lBlue: #e9e9e9;
$color-dGreen: #04442f;
$color-forest: #1b6e53;
$color-mGreen: #009262;
$color-herbal: #48c7aa;
$color-mint: #a1e7d7;
$color-lGreen: #f1fbf8;
$color-dYellow: #e48900;
$color-lemon: #ffa826;
$color-mYellow: #ffb240;
$color-straw: #ffc670;
$color-sand: #ffd596;
$color-lYellow: #fff8ec;
$color-dRed: #c33025;
$color-scarlet: #e01507;
$color-mRed: #e02b1d;
$color-raspberry: #ff7d75;
$color-rubicund: #f0857d;
$color-lRed: #fff1f0;
$color-NGreen: #F1FBF8

/* $color-nRed: #ff7d75; */
